body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}

select {
    color: #999999;
}

option:first-child {
    color: #999999;
}

.radioButton {
    margin: 2% 5%;
    width: 17px;
    height: 17px;
}

.separatingLine {
    width: 93%;
    margin: 3% 2%;
    height: 2px;
    border-bottom: solid 2px #ccc;
}

.curvedCorner {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.textInput {
    width: auto;
    height: 40%;
    background-color: #fefefe;
    margin: 0 16% 0 0;
    font-size: 20px;
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #6BCFCA;
    height: 60px;

    text-align: center;
    padding: 1px;
    margin: 2vh 0;
    max-height: 55px;
}

.text {
    font-family: Shabnam;
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin: 0;
    width: auto;
    height: auto;
}

.iconSize {
    font-size: 26px;
}

