.defaultPageContainer {
    display: flex;
    flex-direction: column;

    width: 80%;
    max-width: 1300px;
    height: 100%;
    margin: 0 10%;

    align-items: center;
    justify-content: center;
}

.homePageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 69%;
    max-width: 1100px;
    height: 800px;
    margin-bottom: 3%;
}