.addCreditTxt {
    font-family: Shabnam;
    text-align: center;
    font-size: 24px;
    margin: 0;
}

.addCreditNumberTxt {
    font-family: Shabnam;
    font-size: 28px;
    margin-right: 8%;
}

.addCreditSmallTxt {
    font-family: Shabnam;
    font-size: 16px;
}

.greyTxt {
    color: #ABABAB;
}

.blackTxt {
    color: #797979;
}

.whiteTxt {
    color: #F4F4F4;
}