@media only screen and (max-width: 1200px) {
    .searchFormUpper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 175px;
        width: 100%;
        margin-top: 3%;
    }

    .searchFormUpperItem {
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 100%;
        margin: 1%;
    }

    .searchFormUpperItemTxt {
        margin: 0;
    }

    .searchFormUpperItemSelectBox {
        width: 60%;
        height: 80%;
        margin: 3% 0;
    }

    #searchFormPropertyInput {
        justify-content: center;
    }

    .searchFormLower {
        flex-direction: column;
        justify-content: center;
        height: 145px;
    }

    .searchFormRadioContainer {
        width: 100%;
        height: 40%;
        justify-content: center;
    }

    .searchFormRadioBtn {
        flex-direction: row;
        width: 85%;
        justify-content: center;
    }

    .searchFormBtnContainer {
        height: 50%;
    }

    .searchFormBtn {
        width: 35%;
        height: 25%;
    }

    .textInput {
        width: 50%;
        height: 60%;
        margin: 1%;
    }
}