.homePageInfoContainer {
    display: flex;
    flex-direction: column;
    flex: 2;

    width: 100%;
}

.homePageInfoTitle {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    text-align: start;
    align-items: center;

    width: 100%;
    height: 10%;
    margin: 1% 3%;

    font-family: Shabnam;
    font-size: 30px;
    font-weight: 600;
}

.homePageInfoLower {
    display: flex;
    flex-direction: row;

    align-items: center;
    margin-top: 2.5%;

    width: 100%;
    height: 90%;
}

.homePageInfoSentences {
    display: flex;
    flex-direction: column;

    width: 40%;
    height: 100%;
    margin-right: 3%;
}

.homePageSentence {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    margin: 1.8% 3%;

    font-family: Shabnam;
    font-size: 20px;
    font-width: 200;
}

.homePageTextIcon{
    color: #7570ad;
    margin-top: 0.6%;
    margin-right: 0%;
}

.homePageInfoImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 60%;
    height: 100%;
}

.homePageInfoImg{
    display: flex;
    flex-direction: column;

    width: 95%;
    height: 95%;

    background: url("../../images/why-khanebedoosh.jpg") no-repeat center;
    background-size: contain;
}